<% layout('boilerplate')%>
<main id="login-main">
    <center>
        <h3 class="indigo-text">Register</h3>        
        <div class="container">
          <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
            <form class="col s12" action="/users/register" method="POST">
              <div class='row'>
                <div class='input-field col s12'>
                  <input class='validate' type='text' name='name' id='name' />
                  <label for='name'>Enter your name</label>
                </div>
              </div>
              <div class='row'>
                <div class='input-field col s12'>
                  <input class='validate' type='email' name='email' id='email' />
                  <label for='email'>Enter your email</label>
                </div>
              </div>
              <div class='row'>
                <div class='input-field col s12'>
                  <input class='validate' type='password' name='password' id='password' />
                  <label for='password'>Enter your password</label>
                </div>
              </div>        
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="bio" name="bio" class="materialize-textarea"></textarea>
                  <label for="bio">Something about you</label>
                </div>
              </div>
              <center>
                <div class='row'>
                  <button type='submit' class='col s12 btn btn-large waves-effect indigo'>Register</button>
                </div>
              </center>
            </form>
          </div>
        </div>
      </center>
</main>
<!-- <h1>Register</h1>
<form action="/users/register" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="email">E-Mail</label>
    <input type="email" name="email" id="email">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <br>
    <label for="bio">bio</label>
    <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
    <br>
    <button>Register</button>
</form> -->