<% layout('boilerplate')%>
<main>
    <h1><i class="material-icons medium" style="color: red;">error</i>Error</h1>
    <p> <%= err.message %></p>
    <p>Error Code: <%= err.statusCode %> </p>
</main>
