<h1>Hi</h1>

<% if(currentUser) { %>
    <h3><%= currentUser.name %></h3>
    <a href="/users/logout">Logout</a>
<% } else { %>
    <a href="/users/login">Login</a>
    <a href="/users/register">Register</a>
<% } %>  
